:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(
      300deg,
      rgba(51, 34, 48, 0.9) 0%,
      rgba(224, 215, 232, 0.4) 98%
    ),
    url(/Images/horse0.jpeg) center / cover;
  background-attachment: fixed;
}

/* ////////////// nav bar */

nav {
  width: 20rem;
  height: 100vh;
  border-right: 0.2rem solid goldenrod;
  background: linear-gradient(
    0deg,
    rgba(31, 22, 29, 0.233) 0%,
    rgba(147, 140, 153, 0.335) 100%
  );
  position: fixed;
  z-index: 1000;
}

.Nav__Logo img {
  width: 100%;
  margin-top: 8rem;
  padding: 0 1.5rem;
  object-fit: cover;
}

.Nav__Sections,
.Nav__Icons {
  margin-top: 10rem;
}

.Nav__Sections ul a {
  text-decoration: none;
  margin: auto;
}

.Nav__Sections ul a li {
  text-align: center;
  list-style-type: none;
  font-weight: 600;
  font-size: 2.2rem;
  padding: 0.5rem 0;
  color: rgba(246, 245, 243, 1);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(20, 20, 20);
  border-bottom: 0.2rem dotted rgba(218, 165, 32, 0.8);
}

.Nav__Sections ul a li:visited {
  color: goldenrod;
}

.Nav__Sections ul a li:hover {
  color: goldenrod;
  border-bottom: 0.1rem solid goldenrod;
}

.Nav__Sections ul a li:active {
  color: rgba(236, 215, 95, 0.815);
  border-bottom: 0.1rem solid rgba(236, 215, 95, 0.815);
}

.Nav__Icons a {
  text-decoration: none;
}

.Nav__Icons span {
  display: block;
  font-size: 2.2rem;
  text-align: center;
  color: rgba(246, 245, 243, 1);
  margin: 2rem;
}

.Nav__Icons span:hover,
.Nav__Icons span:visited {
  color: goldenrod;
}

.Nav__Icons span:active {
  color: rgba(236, 215, 95, 0.815);
}

/* ////////////// Main & Sections */

main {
  width: calc(100% - 20rem);
  vertical-align: top;
  display: inline-block;
  background-attachment: fixed;
}

.Main__Sections:not(:first-of-type) {
  width: 100%;
  height: 100rem;
  margin-left: 20rem;
  margin-bottom: 60rem;
  background-color: rgba(245, 244, 247, 0.9);
  border-top: 0.2rem dashed goldenrod;
  border-bottom: 0.2rem solid goldenrod;
}

/* ////////////// Section: Intro*/

.Main__Sections--Intro {
  width: 100%;
  height: 100vh;
  margin-left: 20rem;
  display: inline-block;
}

.Main__Sections--Intro--Border {
  width: 90%;
  height: 30rem;
  position: relative;
  border-bottom: 0.2rem dotted goldenrod;
}

.Main__Sections--Intro--Border h1,
.Main__Sections--Intro--Border h2 {
  display: inline-block;
  position: absolute;
  color: rgba(246, 245, 243, 1);
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(20, 20, 20);
}
.Main__Sections--Intro--Border h1 {
  font-size: 20rem;
  bottom: -2.5rem;
  right: 0rem;
  text-transform: uppercase;
}

.Main__Sections--Intro--Border h2 {
  font-size: 5rem;
  bottom: -7rem;
  right: 2rem;
}
/* ////////////// Section: Have fun*/

.Main__Sections--HaveFun--Border {
  width: 159rem;
  height: 45rem;
  border-radius: 2rem;
  background: rgba(218, 165, 32, 0.8);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem goldenrod;
  margin: 25rem auto;
  position: relative;
}
.Main__Sections--HaveFun--Border h2 {
  font-weight: 400;
  font-size: 5rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(20, 20, 20);
}
.Main__Sections--HaveFun--Border p {
  font-weight: 300;
  font-size: 2rem;
  position: absolute;
  bottom: -12rem;
  left: 4rem;
}

.Main__Sections--HaveFun--Border img {
  border: 0.2rem solid rgba(218, 165, 32, 0.8);
  border-radius: 2rem;
  width: 30rem;
  height: 45rem;
  object-fit: cover;
  position: absolute;
  top: -2rem;
}

.Main__Sections--HaveFun--Border img:nth-of-type(1) {
  width: 60rem;
  height: 39rem;
  left: 1rem;
}
.Main__Sections--HaveFun--Border img:nth-of-type(2) {
  left: 63rem;
}

.Main__Sections--HaveFun--Border img:nth-of-type(3) {
  left: 95rem;
}

.Main__Sections--HaveFun--Border img:nth-of-type(4) {
  left: 127rem;
}

/* ////////////// Section: Friends*/

.Main__Sections--Friends--Border {
  width: 159rem;
  height: 45rem;
  border-radius: 2rem;
  background: rgba(218, 165, 32, 0.8);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem goldenrod;
  margin: 25rem auto;
  position: relative;
}
.Main__Sections--Friends--Border h2 {
  font-weight: 400;
  font-size: 5rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(20, 20, 20);
}
.Main__Sections--Friends--Border p {
  font-weight: 300;
  font-size: 2rem;
  position: absolute;
  bottom: -12rem;
  left: 4rem;
}

.Main__Sections--Friends--Border img {
  border: 0.2rem solid rgba(218, 165, 32, 0.8);
  border-radius: 2rem;
  width: 30rem;
  height: 45rem;
  object-fit: cover;
  position: absolute;
  top: -2rem;
}

.Main__Sections--Friends--Border img:nth-of-type(1) {
  width: 60rem;
  height: 39rem;
  object-fit: cover;
  position: absolute;
  top: -2rem;
  left: 1rem;
}

.Main__Sections--Friends--Border img:nth-of-type(2) {
  width: 30rem;
  height: 39rem;
  left: 63rem;
}

.Main__Sections--Friends--Border img:nth-of-type(3) {
  left: 95rem;
}

.Main__Sections--Friends--Border img:nth-of-type(4) {
  left: 127rem;
}

/* ////////////// Section: Team*/

.Main__Sections--Team--Container--Border {
  width: 159rem;
  height: 45rem;
  margin: 25rem auto;
}

.Main__Sections--Team--Container--Border h3 {
  text-align: center;
  margin-top: 6rem;
  font-size: 5rem;
  font-weight: 300;
  font-style: italic;
}

.Main__Sections--Team--Border {
  display: inline-block;
  width: 40rem;
  height: 45rem;
  border-radius: 2rem;
  background: rgba(218, 165, 32, 0.8);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem goldenrod;
  margin: 0 6rem 0 6rem;
  position: relative;
}

.Main__Sections--Team--Border h2 {
  font-weight: 400;
  font-size: 5rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(20, 20, 20);
}

.Main__Sections--Team--Border ul {
  position: absolute;
  top: 3rem;
  right: -4rem;
  list-style-type: none;
}

.Main__Sections--Team--Border li {
  padding: 0.5rem 0;
  font-size: 2rem;
  list-style-type: none;
}

.Main__Sections--Team--Border li a {
  color: goldenrod;
}

.Main__Sections--Team--Border li:link,
.Main__Sections--Team--Border li:visited {
  color: goldenrod;
}

.Main__Sections--Team--Border li a:hover,
.Main__Sections--Team--Border li a:active {
  color: rgb(216, 196, 145);
  text-shadow: 0.1rem 0.1rem 0.2rem rgb(20, 20, 20);
}

.Main__Sections--Team--Border img {
  border: 0.2rem solid rgba(218, 165, 32, 0.8);
  border-radius: 2rem;
  width: 38rem;
  height: 40rem;
  object-fit: cover;
  position: absolute;
  top: -2rem;
  left: 1rem;
}

/* ////////////// Section: Find Us!*/

.Main__Sections--FindUs--Form {
  background-color: red;
  width: 159rem;
  height: 45rem;
  border-radius: 2rem;
  background: rgba(218, 165, 32, 0.8);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem goldenrod;
  margin: 25rem auto;
  padding: 2rem 2rem;
  display: table;
  position: relative;
}

.Main__Sections--FindUs--Form__Personal,
.Main__Sections--FindUs--Form__Radio {
  display: inline-block;
  width: 50%;

  vertical-align: top;
}

.Main__Sections--FindUs--Form__Radio {
  border-left: 0.2rem dotted white;
}

.Main__Sections--FindUs--Form h3 {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2rem;
}

.Main__Sections--FindUs--Form h4 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  margin: 2rem;
}

.Main__Sections--FindUs--Form__Personal input {
  width: 30rem;
  height: 4rem;
  margin: 1rem 1rem 1rem 2rem;
  padding-left: 1rem;
  outline: none;
  border: none;
}

.Main__Sections--FindUs--Form__Radio input {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1rem 1rem 2rem;
}

.Main__Sections--FindUs--Form__Personal input::placeholder {
  font-style: italic;
}

.Main__Sections--FindUs--Form__Personal input:focus {
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgb(22, 22, 22);
}

.Main__Sections--FindUs--Form__Personal input:valid {
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem green;
  border: 0.1rem solid green;
}

.Main__Sections--FindUs--Form__Personal label,
.Main__Sections--FindUs--Form__Radio label {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
}

.Main__Sections--FindUs--Form__Radio label {
  position: relative;
  top: -1.5rem;
}

.Main__Sections--FindUs--Form__Checkbox input {
  text-align: center;
  width: 2rem;
  height: 2rem;
  margin: 1rem 1rem 1rem 2rem;
}

button {
  width: 50rem;
  display: block;
  margin: 2rem auto;
  font-weight: 700;
  font-size: 3rem;
  font-family: inherit;
  color: black;
  background-color: rgb(248, 245, 245);
  padding: 1rem 0;
  border-radius: 1rem;
  border: 0.2rem solid rgb(248, 245, 245);
  outline: none;
}

button:hover {
  color: black;
  background-color: rgb(248, 245, 245);
  border: 0.2rem solid rgb(22, 22, 22);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgb(22, 22, 22);
}

button:active {
  color: green;
  background-color: rgb(248, 245, 245);
  border: 0.2rem solid green;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem green;
}
